.cell{
  border: 1px solid black;
  width: 50px;
  height: 50px;
  display: inline-block;
  overflow: hidden;
  margin-left: 4px;
}
.highlighted{
  background-color: lightgrey;
}
.selected{
  background-color: yellow;
}
.letter{
  text-align: center;
  font-size: 24px;
  padding-top: 10px;
}
.debug{
  display:none;
  font-size: 10px;
  position: absolute;
}

.clue{
  border: 1px solid grey;
  padding: 10px;
}
