.cell{
  border: 1px solid black;
  width: 50px;
  height: 50px;
  display: inline-block;
  overflow: hidden;
  margin-left: 4px;
}
.selected{
  background-color: yellow;
}
.letter{
  text-align: center;
}
